{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb/base", "prettier"],
  "rules": {
    "max-len":"off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "always"
      }
    ]
  }
}
