{
  "extends": ["airbnb/base"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "warn",
    "max-len": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "always"
      }
    ]
  }
}
